

#jumpMenu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100%;
background-color: orange;
text-align: center;
padding-left: 10px;
z-index: 10;
display: block;
margin: 10px;
color: black;

}


h1{
  text-align: center;
}



#main-content{
  margin-left: 300px;
  margin-right: 300px;
}


  header {
    position: sticky;
    background-color: red;
    color: black;
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
    top: 0;
  }


  #container{
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

  }

  #container article{
    width: 300px;
    margin-bottom: 20px;
    background-color: white;
    text-align: center;
    margin-left: 50px;
    margin-right: 20px;
    padding-left: 60px;

  }


  nav{
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
  }

nav button{
  background-color: blue;
  color: white;
  border: none;
  margin: 5px 5px;
  padding: 15px 30px;
  font-size: 15px;
  flex: 1;
  text-align: center;
  max-width: 200px;

}


#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 60px;
    background-color: lightblue;
    border: 3px solid black;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  @media all and (max-width: 992px ){
  header {
  
     width: 100%;
    }

    nav button
    {
     
      display: flex;
      flex-grow: inherit;
      max-width: 100px;
    }
 
  }

 
  

