
@media screen and (min-width: 992px) {
    container article{
      font-size: 20px;
    }
  
  }


  a[href*="google.com"]::after {
    content: "";
    display: inline-block;
    width: 12px;  
    height: 12px;
    margin-left: 5px;
    
    
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

article p:first-of-type::first-letter {
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    float: left; 
    margin-right: 8px;
}


#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 60px;
    background-color: lightblue;
    border: 3px solid black;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    position: sticky;
    top: 0;
    background-color: red;
    color: black;
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    z-index: 1000;
    font-size: 36px;
    border-bottom: 2px solid black;
  }


body {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 10;
    font-family: "Times New Roman", Times, serif;
}

  h1{
    text-align: center;
  }


  #container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;

  }

  #container article{
    width: 300px;
    margin: 0 30px 20px 50px;
    background-color: white;
    text-align: center;
    color: rgba(211, 211, 211, 0.933);
    min-height: 20px;
    max-height: 400px;
    transition: max-height 2s ease, color 2s ease;
  }
  
  #container article:hover {
    color:rgb(0, 0, 0);
    max-height: 1000px;
  }

  nav{
    background-color: black;
    width: 100px;
    height: 100vh;
    grid-template-rows: 4fr auto;
    align-items: center;
    padding-top: 20px;
  }

nav button{
    display: block;
    flex-direction: column;
    background-color: blue;
    color: white;
    width: 90%;
    margin: 0;
    padding: 10px 0;
    flex: wrap;
    cursor: pointer;
  text-align: center;
}

#recentArticles{
    width: 100px;
    height: 100px;
    transition: width 2s, height 4s, background-color 3s;
}



#jumpMenu {
    display: none;           
    position: relative;    
    background-color: #fff;  
    list-style: none;        
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    z-index: 100;          
}

#menuItems:hover #jumpMenu {
    display: block;
    background-color: gold;
    width: 80px;

}

#jumpMenu li a{
    display: block;
    text-decoration: none;

}

#jumpMenu li a:hover{
    background-color:blue;
    color: lightblue;
    padding-left: 20px;

}